@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --font-family: 'Red Hat Display', sans-serif;
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

.container {
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--Paleblue);
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 350px;
    height: 620px;
    border-radius: .625rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 0 12px 6px 2.5px hsl(224, 88%, 91%);
}

.showcase img {
    width: 100%;
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    margin-bottom: 20px;

}

.content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

.summary {
    padding: 0 30px;
}

.summary h1 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 10px;
    color: var(--Darkblue);
}

.summary p {
    font-size: 16px;
    color: var(--Desaturatedblue);
    margin-bottom: 15px;
}

.pricing {
    background-color: var(--Verypaleblue);
    height: 80px;
    width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.change {
    color: var(--Brightblue);
    font-weight: 700;
    font-size: 14px;
}

.plan img {
    height: 45px;
    width: 45px;
}

.plan strong {
    font-weight: 900;
    color: var(--Darkblue);
}

.plan p {
    font-weight: 500;
    font-size: 14px;
    color: var(--Desaturatedblue);
}

button {
    font-weight: 900;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.proceed {
    width: 80%;
    background-color: var(--Brightblue);
    margin: 30px 0;
    color: var(--Verypaleblue);
    padding: 16px 0;
    box-shadow: 0 15px 7px 2px var(--Paleblue);
}

.cancel {
    background-color: white;
    color: var(--Desaturatedblue);
}

.change:hover {
    text-decoration: none;
    opacity: 0.7;
}

.proceed:hover {
    opacity: 0.5;
}

.cancel:hover {
    color: var(--Darkblue);
}

@media (max-width: 320px) {
    .container {
        background-image: url('./images/pattern-background-mobile.svg');
    }
}